@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

/*_____OVERALL CHANGES , BACKGROUNDS AND DESIGN MARKINGS ETC.,_______*/
body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
}

.grid-container {
    display: grid;
    background: #ffffff;
    max-width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 0px;
}

.grid-container > section {
    text-align: center;
    padding: 50px;
}

/* _____ HEADERS, NAVIGATION MENU ETC., ________ */
.header {
    grid-column: span 8;
    position: relative;
}

.site-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    margin-right: auto;
    margin-left: 150px;
    cursor: pointer;
}

.nav__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 35px;
}

.nav__links li {
    display: inline-flex;
    padding: 0px 10px;
}

.nav__links a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.enquire-button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-left: 35px;
}

/* _______OTHER SECTIONS BELOW HEADER________ */

/* Banner styling */
.section-banner {
    grid-column: span 8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    background-color: white;
    overflow: hidden;
    padding: 0;
}

.banner-content-left {
    width: 30%;
}

.hero-button {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

.avatar {
    max-width: 500px;
    height: auto;
}

/* About styling */
.section-about {
    grid-column: span 8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: black;
}

.about-image-left {
    background-color: black;
    max-width: 500px;
    height: auto;
}

.about-text-right {
    text-align: left;
    background-color: black;
    color: white;
    width: 30%;
}

.about-text-button {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

/* Services styling */
.section-services {
    grid-column: span 8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    background-color: white;
    overflow: hidden;
    padding: 0;
    border: 1px dotted red;
}

.services-snippet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted red;
}

/* Contact styling */
.section-contact {
    grid-column: span 8;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    border: 1px dotted red;
}

.contact-content-left {
    background-color: blue;
    width: 50%;
}

.contact-content-right {
    background-color: green;
    width: 50%;
}

/* Footer styling */
.footer {
    grid-column: span 8;
}